.page {
  font-family: $montserrat;
  font-style: normal;
  background-color: $black-bg;
  color: $white;
  font-weight: $regular;
  font-size: $description;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
  }
}

.container {
  margin: 0 $margin-side;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: stretch;
  grid-auto-flow: column;
  row-gap: $gap;
  grid-template-areas:
  "head-block"
  "projects"
  "call-block"
  "conditions"
  "info"
  "cooperation"
  "quiz-block"
  "dynamics"
  "law-block"
  "call-block-2"
  "guarantees"
  "about-us"
  "team"
  "advantages"
  "video-block"
  "faq-block"
  "call-block-3"
  "final-test";
}




