.page {
  font-family: $montserrat;
  font-style: normal;
  background-color: $black-bg;
  color: $white;
  font-weight: $regular;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;

  &__container {


    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    ;
  }
}

.background {
  z-index: -10;
  width: 100%;
  height: 100vh;
  min-height: 910px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  background-image:
    radial-gradient(70.38% 109.56% at 65.1% 57.12%,
      rgba(0, 0, 0, 0.1005) 16.36%,
      rgba(0, 0, 0, 0.67) 46.71%,
      rgba(0, 0, 0, 0.67) 78.62%),
    url(../../images/background/main-background.jpg);
  border-radius: 0 0 10px 10px;
/*   &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 910px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(70.38% 109.56% at 65.1% 57.12%, rgba(0, 0, 0, 0.1005) 16.36%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%);
  } */
}

.container {
  margin: 0 $margin-side;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: stretch;
  grid-auto-flow: column;
  row-gap: $gap;
  grid-template-areas:
  "head-block"
  "projects"
  "call-block"
  "conditions"
  "info"
  "cooperation"
  "quiz-block"
  "dynamics"
  "law-block"
  "call-block-2"
  "guarantees"
  "about-us"
  "team"
  "advantages"
  ;
}




