html {
  scroll-behavior: smooth;
}


.page {
  font-family: $montserrat;
  font-style: normal;
  background-color: $black-bg;
  color: $white;
  font-weight: $regular;
  font-size: $description;



  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 1600px;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
  }
}


.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: stretch;
  grid-auto-flow: column;
  row-gap: $gap;
  grid-template-areas:
  "head-block"
  "projects"
  "call-block"
  "conditions"
  "info"
  "cooperation"
  "quiz-block"
  "dynamics"
  "law-block"
  "call-block-2"
  "guarantees"
  "about-us"
  "team"
  "advantages"
  "video-block"
  "faq-block"
  "call-block-3"
  "final-test";

  @include breakpoint(screen1024) {
    row-gap: calc($gap / 1.25);
  }
  @include breakpoint(screen960) {
    row-gap: calc($gap / 2);
  }
  @include breakpoint(screen640) {
    row-gap: calc($gap / 2);
  }
  @include breakpoint(screen480) {
    row-gap: calc($gap / 2);
  }

}



.container {
  margin: 0 $margin-side;

  @include breakpoint(screen1280) {
    margin: 0 calc($margin-side / 1.5);
  }
  @include breakpoint(screen1024) {
    margin: 0 calc($margin-side / 3);
  }
  @include breakpoint(screen640) {
    margin: 0 calc($margin-side / 4);
  }
  @include breakpoint(screen480) {
    margin: 0 calc($margin-side / 6);
  }
  @include breakpoint(screen320) {
    margin: 0 calc($margin-side / 8);
  }
}



