
.button {
  color: $white;
  background: $accent-blue;
  padding: 0;
  margin: 0;
  border-radius: $border-radius;
  position: relative;
  text-transform: uppercase;
  font-weight: $semi-bold;
  font-size: $link-text;
  line-height: 120%;
  border: none;

  &:hover {
    cursor: pointer;
  }
  &:not(:disabled) {
    overflow: hidden;
  }

  @include breakpoint(screen480) {
    font-size: calc($link-text * .9);
  }


  &__blink {
      &:after {
      margin-left: -30px;
      content: " ";
      width: 30px;
      height: 300px;
      background: $white;
      animation-delay: 50ms;
      position: absolute;
      left: -40px;
      top: -100px;
      transition: all .1s;
      animation-name: blink;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform: rotate(45deg);
    }


    &:hover {
      background:rgba($color: $accent-blue, $alpha: 0.8);
      transform: scale(1.05);
      transition: all 1s;
    }
  }
}
//animated button
@keyframes blink {
  0% {
    left: -30px;
    margin-left: 0px; }
  30% {
    left: 110%;
    margin-left: 80px; }
  100% {
    left: 110%;
    margin-left: 80px; } }


