
.title {
  font-weight: $regular;
  font-size: $title;
  text-transform: uppercase;
  line-height: 120%;
  margin: 1em 0 1em;
}

.subtitle {
  font-weight: $regular;
  font-size: $subtitle;
  text-transform: uppercase;
  line-height: 120%;
  margin: 0;
}

.description {
  font-weight: $light;
  font-size: $description;
  line-height: 140%;
  opacity: .8;
  margin: 0;
}

.small-text {
  font-weight: $regular;
  font-size: $small-text;
  line-height: 120%;
  margin: 0;
}

.decoration-text {
  font-weight: $regular;
  font-size: $decorate;
  line-height: 120%;
  margin: 0;
}



.span-accent {
  color: $accent-blue;
  &_title {
    font-weight: $medium;
  }
  }

