
.title {
  font-weight: $regular;
  font-size: $title;
  text-transform: uppercase;
  line-height: 120%;
  margin: 1em 0 1em;

  @include breakpoint(screen960) {
    font-size: calc($title * .9);
  }
  @include breakpoint(screen768) {
    font-size: calc($title * .8);
  }
  @include breakpoint(screen640) {

  }
  @include breakpoint(screen480) {
    font-size: calc($title * .65);
  }
}

.subtitle {
  font-weight: $regular;
  font-size: $subtitle;
  text-transform: uppercase;
  line-height: 120%;
  margin: 0;


  @include breakpoint(screen960) {
    font-size: calc($subtitle * .9);
  }
  @include breakpoint(screen768) {
    font-size: calc($subtitle * .8);
  }
  @include breakpoint(screen640) {

  }
  @include breakpoint(screen480) {
    font-size: calc($subtitle * .75);
  }




}

.description {
  font-weight: $light;
  font-size: $description;
  line-height: 140%;
  opacity: .8;
  margin: 0;


  @include breakpoint(screen480) {
    font-size: calc($description * .9);
  }
}

.small-text {
  font-weight: $regular;
  font-size: $small-text;
  line-height: 120%;
  margin: 0;


  @include breakpoint(screen480) {
    font-size: calc($small-text * .9);
  }
}

.decoration-text {
  font-weight: $regular;
  font-size: $decorate;
  line-height: 120%;
  margin: 0;


  @include breakpoint(screen1280) {
    font-size: calc($decorate * .88);
  }
  @include breakpoint(screen1024) {
    font-size: calc($decorate * .85);
  }

  @include breakpoint(screen768) {
   font-size: calc($decorate * .75);
  }
  @include breakpoint(screen576) {
    font-size: calc($decorate * .7);
  }
  @include breakpoint(screen480) {
    font-size: calc($decorate * .55);
  }
}



.span-accent {
  color: $accent-blue;

  &_title {
    font-weight: $medium;
  }
  }

