
.call-block {
  display: flex;
  align-items: center;
  height: 80vh;
  min-height: 600px;
  border-radius: $border-radius;
  overflow: hidden;

    &_1 {
      grid-area: call-block;
      background:
      radial-gradient(68.78% 134.94% at 66.7% 31.75%,
                      rgba(0, 0, 0, 0.1005) 20.31%,
                      rgba(0, 0, 0, 0.67) 46.71%,
                      rgba(0, 0, 0, 0.67) 78.62%),
                      url(../../images/background/business-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    &_2 {
      grid-area: call-block-2;
      background:
      radial-gradient(68.78% 134.94% at 66.7% 31.75%,
                      rgba(0, 0, 0, 0.1005) 20.31%,
                      rgba(0, 0, 0, 0.67) 46.71%,
                      rgba(0, 0, 0, 0.67) 78.62%),
                      url(../../images/background/business-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    &_3 {
      grid-area: call-block-3;
      background:
      radial-gradient(68.78% 134.94% at 66.7% 31.75%,
                      rgba(0, 0, 0, 0.1005) 20.31%,
                      rgba(0, 0, 0, 0.67) 46.71%,
                      rgba(0, 0, 0, 0.67) 78.62%),
                      url(../../images/background/business-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }




  &__title {
    margin: auto 0 0.5em;

  }

  &__inner{
    display: grid;
    grid-auto-flow: column;
    column-gap: 120px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: end;
/*     display: flex;
    align-items: flex-end;
    justify-content: space-between; */
    column-gap: 120px;

    width: 100%;
    margin: 0 $margin-side;



}

&__block{
  display: flex;
  flex-direction: column;


/*   max-width: 660px;
  width: 100%;
 */

}

  &__subtitle {
    line-height: 140%;
    margin: 0;
}
  &__description {
    text-transform: uppercase;
    margin-bottom: .5em;
  }


  &__button{
    margin-top: 60px;
    width: 360px;
    height: 75px;
}

  &__social{
    margin-top:1em;
    display: flex;
    gap: 1.2em;


}
  &__contacts {
    display: flex;
    align-items: flex-end;
    margin-top: 2em;
    white-space:nowrap;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 1em;

    &_link {
      font-size: $subtitle;


    }
  }
}



