
.call-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  overflow: hidden;



    &_1 {
      height: 80vh;
      min-height: 600px;
      grid-area: call-block;
      background:
      radial-gradient(68.78% 134.94% at 66.7% 31.75%,
                      rgba(0, 0, 0, 0.1005) 20.31%,
                      rgba(0, 0, 0, 0.67) 46.71%,
                      rgba(0, 0, 0, 0.67) 78.62%),
                      url(../../images/background/business-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @include breakpoint(screen768) {
      height: 100%;
      background-position: 60%;
    }
    @include breakpoint(screen576) {
      background: none;
    }
    }

    &_2 {
      height: 80vh;
      min-height: 600px;
      grid-area: call-block-2;
      background:
      radial-gradient(68.78% 134.94% at 66.7% 31.75%,
                      rgba(0, 0, 0, 0.1005) 20.31%,
                      rgba(0, 0, 0, 0.67) 46.71%,
                      rgba(0, 0, 0, 0.67) 78.62%),
                      url(../../images/background/business-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @include breakpoint(screen768) {
      height: 100%;
      background-position: 60%;
    }
    @include breakpoint(screen576) {
      background: none;
    }
    }

    &_3 {
      height: 80vh;
      min-height: 600px;
      grid-area: call-block-3;
      background:
      radial-gradient(68.78% 134.94% at 66.7% 31.75%,
                      rgba(0, 0, 0, 0.1005) 20.31%,
                      rgba(0, 0, 0, 0.67) 46.71%,
                      rgba(0, 0, 0, 0.67) 78.62%),
                      url(../../images/background/business-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @include breakpoint(screen768) {
      height: 100%;
      background-position: 60%;
    }
    @include breakpoint(screen576) {
      background: none;
    }
    }


    &__inner {
      padding: 0 $margin-side;
      max-width: calc(100% - $margin-side*2);
      @include breakpoint(screen1280) {
        max-width: calc(100% - ($margin-side / 1.5) * 2);
        padding: 0 calc($margin-side / 1.5);
      }
      @include breakpoint(screen1024) {
        max-width: calc(100% - ($margin-side / 3) * 2);
        padding: 0 calc($margin-side / 3);
      }
      @include breakpoint(screen768) {

        padding: 2rem calc($margin-side / 4);

      }
      @include breakpoint(screen640) {
        max-width: calc(100% - ($margin-side / 4) * 2);
        padding: 0 calc($margin-side / 4);

      }
      @include breakpoint(screen480) {
        max-width: calc(100% - ($margin-side / 6) * 2);
        padding: 0 calc($margin-side / 6);
      }
      @include breakpoint(screen320) {
        max-width: calc(100% - ($margin-side / 8) * 2);
        padding: 0 calc($margin-side / 8);
      }

    }

    &__title {
      @include breakpoint(screen768) {
        max-width: 55%;
      }
      @include breakpoint(screen576) {
        max-width: 100%;
      }
    }



  &__grid {
    display: grid;
    grid-auto-flow: column;
    gap: 120px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
/*     display: flex;
    align-items: flex-end;
    justify-content: space-between; */

    width: 100%;


    @include breakpoint(screen1280) {
      gap: 60px;
    }
    @include breakpoint(screen960) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint(screen768) {
      margin-bottom: 2rem;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto;
      gap: 40px 60px;
    }

    @include breakpoint(screen576) {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      row-gap: 30px;
    }
}

&__block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;

  @include breakpoint(screen1024) {
    gap: 40px;
  }
  @include breakpoint(screen768) {
    gap: 1rem;
  }
}

  &__subtitle {
    line-height: 140%;
    margin: 0;
    @include breakpoint(screen480) {
      text-align: center;
    }

}
  &__description {
    text-transform: uppercase;
    margin-bottom: .5em;
  }


  &__button{
    width: 360px;
    height: 75px;

    @include breakpoint(screen960) {
      width: calc(360px * .9);
      height: calc(75px * .9);
    }

    @include breakpoint(screen768) {
      margin-top: 1rem;
    }
    @include breakpoint(screen640) {
      width: calc(360px * .8);
      height: calc(75px * .8);
    }
    @include breakpoint(screen480) {
      //width: 80%;
      margin: 0 auto;
    }
    @include breakpoint(screen320) {
      //width: 100%;
    }
}

  &__social{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @include breakpoint(screen1280) {
      gap: .5rem;
    }
    @include breakpoint(screen576) {
      align-items: center;
    }
}

  &__social-icons {
    display: flex;
    gap: 1rem;
  }

  &__contacts {
    display: flex;
    align-items: flex-end;
    white-space:nowrap;
    flex-wrap: wrap;
    gap: 1rem;
    @include breakpoint(screen1280) {
      gap: .5rem;
    }
    @include breakpoint(screen576) {
      flex-direction: column;
      align-items: center;
    }


    &_link {
      font-size: $subtitle;
    }
  }

  &__photo {
    display: none;
    object-fit: cover;
    object-position: 73.5%;
    width: 100%;
    height: 360px;
    border-radius: $border-radius;

    @include breakpoint(screen576) {
      display: flex;
    }
    @include breakpoint(screen480) {

    }
    @include breakpoint(screen320) {

    }
  }


}



