.conditions {
  grid-area: conditions;

  &__grid {
    display: grid;
    grid-auto-flow: column;
    column-gap: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: start;
    margin-bottom: 2.5rem;


    @include breakpoint(screen1280) {
      gap: 60px;
    }
    @include breakpoint(screen960) {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      gap: 0;
    }
}


  &__title {
    position: sticky;
    top: 0;
    align-self: start;
    margin-bottom: 20rem;

    @include breakpoint(screen960) {
      position: unset;
      margin-bottom: 2rem;
    }
    @include breakpoint(screen480) {
      font-size: calc($title * .70);
    }
  }


  &__inner {
    margin: 2.5rem 0 0 ;

    @include breakpoint(screen960) {
      margin: 0;
      margin-left: 25%;
    }
    @include breakpoint(screen576) {
      margin-left: 15%;
    }
    @include breakpoint(screen480) {
      margin: 0;
    }
}
  &__blocks {

}
  &__list {
    padding: 0;
    margin: 0;
    text-align: justify;

    overflow: hidden;
}
  &__list-item {
    margin: 0 0 60px;
    list-style-type: none;
    &:last-of-type {
      margin: 0;
    }
    @include breakpoint(screen1024) {
      margin-bottom: 40px;
    }
}
  &__point {
  text-transform: lowercase;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-bottom: 10px;
  line-height: 100%;
  font-size: 56px;
    &_span {
          line-height: 100%;
    }
    @include breakpoint(screen1280) {
      font-size: calc(56px * .88);
    }
    @include breakpoint(screen1024) {
      font-size: calc(56px * .85);
    }

    @include breakpoint(screen768) {
      font-size: calc(56px * .75);
    }
    @include breakpoint(screen576) {
      font-size: calc(56px * .7);
    }
    @include breakpoint(screen480) {
      font-size: calc(56px * .55);
    }

}
  &__description {
    max-width: 70%;
    text-align: left;

    @include breakpoint(screen1280) {
      max-width: 100%;
      margin-right: 2rem;
    }
    @include breakpoint(screen1024) {
      margin-right: 1rem;
    }
    @include breakpoint(screen768) {
      margin-right: 0;
    }
}
}


