.guarantees {
  grid-area: guarantees;
  margin: 0 $margin-side;
  position: relative;

  &__grid {
    display: grid;
    grid-auto-flow: column;
    column-gap: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;//repeat(3, auto);
    align-items: start;
}


  &__title {
    position: sticky;
    top: 0;
    align-self: start;
    margin-bottom: 20rem;
  }


  &__inner {
    grid-column: 2 / 3;
    margin: 2.5rem 0 2.5rem ;

}

  &__list {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
  &__list-item {
    margin: 0 0 60px;
    padding-left: 4.5rem;
    list-style-type: none;
/*     display: flex;
    flex-direction: column;
    justify-content: center;
 */

    &:last-of-type {
      margin: 0;
    }



}
  &__point {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 5px;

  &::before {
    content: url(../../images/svg/shield.svg);
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
}

}
  &__description {
    font-weight: $medium;
    color: $danger;
    opacity: 1;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: url(../../images/svg/cross.svg);
      width: auto;
      height: auto;
      position: absolute;
      left: -20px;
  }
}
}


