.header {
  grid-area: header;
  z-index: 1;


  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - $margin-side*2);
 // margin-top: calc($gap / 4);

  @include breakpoint(screen1280) {
    max-width: calc(100% - ($margin-side / 1.5) * 2);
  }
  @include breakpoint(screen1024) {
    max-width: calc(100% - ($margin-side / 3) * 2);
  }
  @include breakpoint(screen640) {
    max-width: calc(100% - ($margin-side / 4) * 2);
  }
  @include breakpoint(screen480) {
    max-width: calc(100% - ($margin-side / 6) * 2);
  }
  @include breakpoint(screen320) {
    max-width: calc(100% - ($margin-side / 8) * 2);
  }



  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.2rem 0;
    position: relative;
    @include breakpoint(screen960) {
      padding: .3rem 0;
    }

  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.2em;

    @include breakpoint(screen960) {
      display: none;
    }
  }
  &__logo {
    display: flex;
    max-width: 100%;
    object-fit: contain;

    @include breakpoint(screen960) {
      display: none;
    }

      &_mob {
        display: none;
        width: 80px;

        @include breakpoint(screen960) {
          display: flex;
        }
      }
  }

  &__social {
    display: flex;
    gap: 1.2em;
    height: 30px;
    padding-bottom: 4px;
  }

  &__nav-container{
    //max-width: 1600px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint(screen960) {
      display: none;
    }

  }

  &__mobile-container {
    display: flex;
    justify-content: space-between;
  }

}


