.header {
  grid-area: header;
  z-index: 1;


  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: calc(100% - $margin-side*2);
  margin: 0 auto;
  width: 100%;
  margin-top: calc($gap / 4);

  @include breakpoint(screen1280) {
    max-width: calc(100% - ($margin-side / 1.5) * 2);
  }
  @include breakpoint(screen1024) {
    max-width: calc(100% - ($margin-side / 3) * 2);
  }
  @include breakpoint(screen640) {
    max-width: calc(100% - ($margin-side / 4) * 2);
  }
  @include breakpoint(screen480) {
    max-width: calc(100% - ($margin-side / 6) * 2);
  }
  @include breakpoint(screen320) {
    max-width: calc(100% - ($margin-side / 8) * 2);
  }



  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.2rem;
    position: relative;

    @include breakpoint(screen960) {
      align-items: center;
    }

  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.2em;

    @include breakpoint(screen960) {
      display: none;
    }
  }
  &__logo {
    display: flex;
    max-width: 100%;
    object-fit: contain;

    @include breakpoint(screen960) {
      width: 80px;
    }
  }
  &__social {
    display: flex;
    gap: 1.2em;
    height: 30px;
    padding-bottom: 4px;
  }

  &__menu {
    @include breakpoint(screen960) {
      display: none;
    }
  }

  &__mob {

  }

  &__burger {
    display: none;
    height: 30px;
    width: 30px;
    background-image: url(../../images/svg/burger.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid $accent-blue;
    }
    &_active {
      display: block;
    }

  }

  &__burger-close {
    display: none;
    height: 30px;
    width: 30px;
    background-image: url(../../images/svg/close.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid $accent-blue;
    }
  }
}


