.head-block {
  grid-area: head-block;
  display: flex;
  flex-direction: column;
 // position: relative;
  height: calc(100vh - (15vh + $gap / 4));
  min-height: 790px;

  @include breakpoint(screen1024) {
    height: 100%;
    min-height: 660px;
  }
  @include breakpoint(screen960) {
    min-height: 645px;
  }
  @include breakpoint(screen768) {
    min-height: 585px;
  }
  @include breakpoint(screen640) {

  }


  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(screen480) {
      margin: 0 auto;
      width: 100%;
    }
  }
  &__title {
    font-size: $h1;
    margin: 3em 0 0 0;
    width: min-content;


        @include breakpoint(screen1280) {
          margin-top: 2.75em;
        }

        @include breakpoint(screen1024) {
          margin-top: 1.8em;
        }

        @include breakpoint(screen960) {
          font-size: calc($h1 * .9);
        }
        @include breakpoint(screen768) {
          font-size: calc($h1 * .8);
        }
        @include breakpoint(screen640) {
          font-size: calc($h1 * .75);
        }
        @include breakpoint(screen480) {
          font-size: calc($h1 * .575);
        }
        @include breakpoint(screen320) {
          font-size: calc($h1 * .5);
        }
  }
  &__subtitle {
    margin: 1em 0 2.1em
  }

  &__button {
    width: 360px;
    height: 75px;

          @include breakpoint(screen960) {
            width: calc(360px * .9);
            height: calc(75px * .9);
          }

          @include breakpoint(screen640) {
            width: calc(360px * .8);
            height: calc(75px * .8);
          }
          @include breakpoint(screen480) {
            width: 80%;
            margin: 0 auto;
          }
          @include breakpoint(screen320) {
            width: 100%;
          }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(screen640) {
      flex-direction: column;
      margin: 3rem auto 0;
      align-items: center;
      gap: .75rem;
    }
    @include breakpoint(screen480) {

    }
  }


  &__advantages-list {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 8rem 0 auto 0;
    gap: 1em;
    opacity: .8;

        @include breakpoint(screen1280) {
          margin-top: 7.5rem;
        }
        @include breakpoint(screen1024) {
          margin-top: 4rem;
        }
        @include breakpoint(screen640) {
          display: none;
        }
  }
  &__list-item {
    text-transform: lowercase;
    width: min-content;
    position: relative;
    padding-bottom: 1em;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid $white;
      opacity: .8;
    }
  }


  &__photo {
    display: none;
    object-fit: cover;
    object-position: 73.5%;
    width: 100%;
    height: 460px;
    border-radius: $border-radius;

    @include breakpoint(screen640) {
      display: flex;
    }
    @include breakpoint(screen480) {
      height: 400px;
    }
    @include breakpoint(screen320) {
      height: 380px;
    }
  }

  &__bullet {
    width: 35px;
    height: 35px;
    background-color: $white;
    border-radius: 50%;
    background-image: url(../../images/svg/checkmark-tiny.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(screen1024) {
      display: none;
    }
  }

  &__caption {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;

    @media (max-width: 1380px) {
      margin-right: 0;
    }
    @include breakpoint(screen640) {
      flex-direction: column-reverse;
      align-self: flex-end;
      align-items: flex-end;
    }
    @include breakpoint(screen480) {
      align-self: center;
      align-items: center;
    }
  }
}
