
.quiz {
  grid-area: quiz-block;

  &__title {
    max-width: 780px;
    width: 100%;
  }

  &__grid{
    display: grid;
    grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    justify-items: end;
    align-items: stretch;
    @include breakpoint(screen960) {
      grid-template-columns: auto;
    }
}

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  &__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
    min-width: min-content;
    height: 100%;


    @include breakpoint(screen960) {
      display: none;
    }

  }

  &__form-container {
/*     display: flex;
    flex-direction: column; */
    position: relative;
    width: 100%;
    padding: 0;
    margin: 2.5rem 0;
    background-color: $white;
    border-radius: $border-radius;
    border: solid $accent-blue 1px;

    @include breakpoint(screen960) {
      max-width: 80%;
      margin: 2.5rem auto 0;
    }
    @include breakpoint(screen768) {
      max-width: 100%;
    }

    &_template {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }



  &__img {
    margin: 2.5rem 0;
    object-fit: cover;
    width: auto;
    max-width: 100%;
    border-radius: $border-radius;


  }
}
