.team {
  grid-area: team;
  display: flex;
  flex-direction: column;
  position: relative;

    &__block {
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-right: 25%;
      margin-bottom: 2.5rem;
      @include breakpoint(screen960) {
        margin-right: 0;
      }
  }

    &__inner {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      margin: 2.5rem 0;


      @include breakpoint(screen960) {
        flex-direction: column;
        justify-content: center;
      }


  }
    &__item {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;

  }
    &__photo {
      width: 330px;
      height: 330px;
      border-radius: 50%;
      outline: $accent-blue solid 2px;
      object-fit: cover;
      object-position: center center;
      margin-bottom: 1rem;
      @include breakpoint(screen1280) {
        width: calc(330px * 0.8);
        height: calc(330px * 0.8);
      }

  }
    &__caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    &__name {
      margin-bottom: .2rem;
      font-weight: $medium;
  }
    &__description {
      opacity: .8;
  }
}
