
.video-block {
  grid-area: video-block;
  display: flex;
  flex-direction: column;

  &__title{

}
  &__content {
    max-width: 60%;

    margin: 2.5rem auto;


    @include breakpoint(screen1280) {
      max-width: 65%;
    }
    @include breakpoint(screen960) {
      max-width: 80%;
    }
    @include breakpoint(screen768) {
      max-width: 100%;
      margin: 0 auto 2.5rem;
    }


}

  &__img{
    max-height: 480px;
    opacity: .7;
  }

}
