@mixin breakpoint($point) {
  @if  $point == screen1600 {
    @media (max-width: 1600px) {@content;}
  }
  @else if $point == screen1280 {
    @media (max-width: 1280px)  {@content;}
  }
  @else if $point == screen1024 {
    @media (max-width: 1024px) {@content;}
  }
  @else if $point == screen960 {
    @media (max-width: 960px) {@content;}
  }
  @else if $point == screen768 {
    @media (max-width: 768px) {@content;}
  }
  @else if $point == screen640 {
    @media (max-width: 640px) {@content;}
  }
  @else if $point == screen576 {
    @media (max-width: 576px) {@content;}
  }
  @else if $point == screen480 {
    @media (max-width: 480px) {@content;}
  }
  @else if $point == screen320 {
    @media (max-width: 320px) {@content;}
  }
}

