//colors
$white: #ffffff;
$accent-blue: #16B2B2;
$black-bg: #212022;


//fonts
// font-family:
$montserrat: 'Montserrat', sans-serif;

// font-weight:
$extra-light: 200;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//font-size:
$h1: 48px;
$title: 40px;
$subtitle: 26px;
$description-big: 24px;
$description: 20px;
$link-text: 18px;
$small-text: 16px;

//
$gap: 40px;
$margin-side: 60px;
