//colors
$white: #ffffff;
$accent-blue: #16b2b2;
$black-bg: #212022;
$danger :#B21616;


//fonts
// font-family:
$montserrat: 'Montserrat', sans-serif;

// font-weight:
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//font-size:
$decorate: 6rem; //96px;
$h1: 3rem;//48px;
$title: 2.5rem; //40px;
$subtitle: 1.625rem; //26px;
$description-big: 1.25rem; //20px;
$description: 1rem;// 16px;
$link-text: 0.875rem; //14px;
$small-text: 0.875rem; //14px;

//
$gap: 5rem; //80px;
$margin-side: 5rem; //80px;

$border-radius: 10px;
$scrollbar-width: 0.8rem;
