//colors
$white: #ffffff;
$accent-blue: #16B2B2;
$black-bg: #212022;

//fonts
// font-family:
$montserrat: 'Montserrat', sans-serif;
// font-weight:
$extra-light: 200;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
//font-size:
$title: 44px;
$subtitle: 24px;
$description: 26px;
$small-text: 20px;
$link-text: 18px;


//
$height-gap: 60px;
