@charset "UTF-8";
@import url(../../styles/vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
.page {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #212022;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}
.page__container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "header header" "main main" "footer footer";
}

.background {
  z-index: -10;
  width: 100%;
  height: 100vh;
  min-height: 910px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  background-image: radial-gradient(70.38% 109.56% at 65.1% 57.12%, rgba(0, 0, 0, 0.1005) 16.36%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%), url(../../../images/background/background.jpg);
  border-radius: 0 0 10px 10px;
  /*   &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100vh;
      min-height: 910px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: radial-gradient(70.38% 109.56% at 65.1% 57.12%, rgba(0, 0, 0, 0.1005) 16.36%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%);
    } */
}

.container {
  margin: 0 80px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: stretch;
  grid-auto-flow: column;
  row-gap: 80px;
  grid-template-areas: "head-block" "projects" "call-block" "conditions" "info" "cooperation" "quiz-block" "dynamics" "law-block" "call-block-2" "guarantees" "about-us" "team" "advantages" "video-block" "faq-block" "call-block-3" "final-test";
}

.title {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 120%;
  margin: 1em 0 1em;
}

.subtitle {
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 120%;
  margin: 0;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.8;
  margin: 0;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin: 0;
}

.decoration-text {
  font-weight: 400;
  font-size: 96px;
  line-height: 120%;
  margin: 0;
}

.span-accent {
  color: #16B2B2;
}
.span-accent_title {
  font-weight: 500;
}

.button {
  color: #ffffff;
  background: #16B2B2;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: none;
}
.button:hover {
  cursor: pointer;
}
.button:not(:disabled) {
  overflow: hidden;
}
.button__blink:after {
  margin-left: -30px;
  content: " ";
  width: 30px;
  height: 300px;
  background: #fff;
  animation-delay: 50ms;
  position: absolute;
  left: -40px;
  top: -100px;
  transition: all 0.1s;
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
}
.button__blink:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 1s;
}

@keyframes blink {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
.counter {
  counter-increment: num;
  font-size: 14px;
  font-weight: 200;
}
.counter::before {
  content: counter(num);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16B2B2;
}
.counter_center::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.counter_top::before {
  left: 0;
  top: 0;
}

.link {
  opacity: 0.8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  font-weight: 200;
}
.link:hover {
  cursor: pointer;
  transition: color 0.4s;
  color: #16B2B2;
}
.link_phone {
  opacity: 1;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-bottom: 2px;
}
.link_phone:hover {
  transform: scale(1.05);
  transition: transform 1s;
}
.link_call {
  position: relative;
  padding: 0 2px 4px;
}
.link_call::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #16B2B2;
  transition: all 0.4s;
}
.link_call:hover:before {
  width: 55%;
}
.link_social {
  display: flex;
  opacity: 1;
}
.link_social:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}

.background {
  z-index: -10;
  width: 100%;
  height: 100vh;
  min-height: 910px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  background-image: radial-gradient(70.38% 109.56% at 65.1% 57.12%, rgba(0, 0, 0, 0.1005) 16.36%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%), url(../../images/background/background.jpg);
  border-radius: 0 0 10px 10px;
  /*   &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100vh;
      min-height: 910px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: radial-gradient(70.38% 109.56% at 65.1% 57.12%, rgba(0, 0, 0, 0.1005) 16.36%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%);
    } */
}

.background-text {
  display: flex;
  height: auto;
  width: auto;
  position: relative;
  /*   &_cooperation {
      &::after {
        content: "сотрудничество";
        font-weight: $medium;
        font-size: $decorate;
        position: absolute;
        bottom: 5%;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1518) 0%, rgba(255, 255, 255, 0) 100%);
        // background: linear-gradient(357.4deg, rgba(22, 178, 178, 0.0782) 5.94%, rgba(22, 178, 178, 0) 91.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        }
    }
   */
  /*   &_dynamics {
      justify-content: flex-start;
      align-items: center;
      &::after {
        content: "динамика";
        font-size: $decorate * 2.5;
        font-weight: $medium;
        text-transform: uppercase;
        position: absolute;
        top: -50%;
        left: 0;
        background: linear-gradient(357.4deg, rgba(22, 178, 178, 0.0782) 5.94%, rgba(22, 178, 178, 0) 71.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        z-index: -10;
        }
    } */
  /*   &_law {
      text-align: right;
      padding-top: 10rem;
      margin-bottom: 2.5rem;
      &::after {
        content: "юридическая схема";
        font-weight: $medium;
        font-size: $decorate;
        position: absolute;
        bottom: 2rem;
        right: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1518) 0%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        }
    } */
}
.background-text_conditions::after {
  content: "условия";
  font-size: 240px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 0;
  background: linear-gradient(357.4deg, rgba(22, 178, 178, 0.0782) 5.94%, rgba(22, 178, 178, 0) 71.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.background-text_info {
  justify-content: flex-start;
  align-items: center;
}
.background-text_info::after {
  content: "инвестиции";
  font-weight: 500;
  font-size: 96px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1518) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.background-text_guarantees::after {
  content: "гарантии";
  font-size: 240px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  left: 0;
  background: linear-gradient(357.4deg, rgba(22, 178, 178, 0.0782) 5.94%, rgba(22, 178, 178, 0) 91.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.background-text_about-us::after {
  content: "о компании";
  font-size: 144px;
  font-weight: 500;
  position: absolute;
  top: -20%;
  right: 0;
  opacity: 0.8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1518) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.background-text_team::after {
  content: "люди";
  font-size: 144px;
  font-weight: 500;
  position: absolute;
  top: -15%;
  right: -80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1518) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.background-text_advantages {
  text-align: right;
  padding-top: 1px;
  z-index: -10;
}
.background-text_advantages::after {
  content: "преимущества";
  font-size: 144px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: -22rem;
  left: 0;
  background: linear-gradient(357.4deg, rgba(22, 178, 178, 0.0782) 5.94%, rgba(22, 178, 178, 0) 91.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.background-text_faq::after {
  content: "ответы";
  font-size: 144px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 15rem;
  left: 0;
  background: linear-gradient(357.4deg, rgba(22, 178, 178, 0.0782) 5.94%, rgba(22, 178, 178, 0) 91.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.background-decoration {
  border-radius: 50%;
  background: rgba(22, 178, 178, 0.16);
  filter: blur(75px);
  z-index: -10;
}
.background-decoration_conditions {
  position: absolute;
  top: 30%;
  right: 40%;
  width: 300px;
  height: 300px;
}
.background-decoration_info {
  margin-left: 5rem;
  width: 300px;
  height: 300px;
}
.background-decoration_cooperation {
  filter: blur(55px);
  position: absolute;
  top: 5%;
  left: -5%;
  width: 300px;
  height: 300px;
}
.background-decoration_quiz {
  filter: blur(55px);
  z-index: -1;
  position: absolute;
  bottom: -45%;
  right: -35%;
  width: 300px;
  height: 300px;
}
.background-decoration_dynamics {
  margin-left: 2rem;
  width: 250px;
  height: 250px;
  filter: blur(35px);
}
.background-decoration_law1 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -40%;
  left: 0%;
}
.background-decoration_law2 {
  filter: blur(35px);
  width: 250px;
  height: 250px;
  position: absolute;
  top: -25%;
  left: 25%;
}
.background-decoration_guarantees {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 300px;
  height: 300px;
}
.background-decoration_about-us {
  position: absolute;
  filter: blur(45px);
  top: 10%;
  right: 10%;
  width: 200px;
  height: 200px;
}
.background-decoration_team {
  position: absolute;
  filter: blur(100px);
  top: 35%;
  right: 35%;
  width: 250px;
  height: 250px;
}
.background-decoration_advantages {
  position: absolute;
  top: -150%;
  left: 10%;
  width: 350px;
  height: 350px;
}
.background-decoration_faq {
  position: absolute;
  filter: blur(45px);
  top: 15%;
  left: 30%;
  width: 300px;
  height: 300px;
}

.video {
  margin: 0;
  padding: 0;
  width: 100%;
}
.video__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
.video__img:hover {
  cursor: pointer;
}
.video__link {
  line-height: 0;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  opacity: 1;
  z-index: 1;
  background-color: #16B2B2;
  border-radius: 50%;
  background-image: url(../../images/svg/play.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.video__play {
  position: absolute;
  width: 5em;
  height: 5em;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
  border: solid #16B2B2 2px;
  animation: pulse 2s linear infinite;
  -webkit-animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}
/* .scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
 */
.accordion {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion:after {
  content: "";
  background-image: url(../../images/svg/advntgs.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
  border: #ffffff 1px solid;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: all 0.5s ease;
}

.active:after {
  content: "";
  background-image: url(../../images/svg/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #16B2B2;
  border: #16B2B2 1px solid;
  width: 3rem;
  height: 3rem;
  transition: all 0.5s ease;
}

.active, .accordion:hover {
  font-weight: 500;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.header {
  grid-area: header;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: calc(100% - 160px);
  width: 100%;
  height: 15vh;
  margin-top: 20px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  position: relative;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.2em;
}
.header__logo {
  display: flex;
  max-width: 100%;
}
.header__social {
  display: flex;
  gap: 1.2em;
  height: 24px;
}

.nav {
  display: flex;
  position: relative;
  padding: 1rem 0;
}
.nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.1;
}
.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.1;
}
.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
}
.nav__item {
  list-style: none;
  display: flex;
}
.nav__item:hover {
  transition: all 0.4s;
  color: #16B2B2;
}

.head-block {
  grid-area: head-block;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - (15vh + 20px));
  min-height: 790px;
  padding-top: calc(15vh + 20px);
}
.head-block__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head-block__title {
  font-size: 48px;
  margin: 3em 0 0 0;
  width: -moz-min-content;
  width: min-content;
}
.head-block__subtitle {
  margin: 1em 0 2.1em;
}
.head-block__button {
  width: 360px;
  height: 75px;
}
.head-block__advantages-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 130px 0 auto 0;
  gap: 1em;
  opacity: 0.8;
}
.head-block__list-item {
  text-transform: lowercase;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  padding-bottom: 1em;
}
.head-block__list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.8;
}

.head-block__block {
  display: flex;
  justify-content: space-between;
}

.head-block__bullet {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url(../../images/svg/checkmark-tiny.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.head-block__caption {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project-example {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2.5em 0;
}
.project-example__name {
  margin: 0 0 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project-example__name::after {
  margin-top: 0.2em;
  content: "";
  height: 1px;
  width: 60%;
  margin-left: 40%;
  background: #16B2B2;
  opacity: 0.8;
}
.project-example__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  gap: 60px 120px;
  counter-reset: num;
}
.project-example__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: -moz-min-content;
  min-width: min-content;
  position: relative;
}
.project-example__item_color {
  background-color: #16B2B2;
  border-radius: 10px;
  padding: 3em 0;
}
.project-example__description {
  padding: 0 5rem;
  margin: 0;
}
.project-example__description_big {
  font-size: 20px;
  font-weight: 400;
  opacity: 1;
}
.project-example__img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.call-block {
  display: flex;
  align-items: center;
  height: 80vh;
  min-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}
.call-block_1 {
  grid-area: call-block;
  background: radial-gradient(68.78% 134.94% at 66.7% 31.75%, rgba(0, 0, 0, 0.1005) 20.31%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%), url(../../images/background/business-man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.call-block_2 {
  grid-area: call-block-2;
  background: radial-gradient(68.78% 134.94% at 66.7% 31.75%, rgba(0, 0, 0, 0.1005) 20.31%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%), url(../../images/background/business-man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.call-block_3 {
  grid-area: call-block-3;
  background: radial-gradient(68.78% 134.94% at 66.7% 31.75%, rgba(0, 0, 0, 0.1005) 20.31%, rgba(0, 0, 0, 0.67) 46.71%, rgba(0, 0, 0, 0.67) 78.62%), url(../../images/background/business-man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.call-block__title {
  margin: auto 0 0.5em;
}
.call-block__inner {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 120px;
       column-gap: 120px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  align-items: end;
  /*     display: flex;
      align-items: flex-end;
      justify-content: space-between; */
  column-gap: 120px;
  width: 100%;
  margin: 0 80px;
}
.call-block__block {
  display: flex;
  flex-direction: column;
  /*   max-width: 660px;
    width: 100%;
   */
}
.call-block__subtitle {
  line-height: 140%;
  margin: 0;
}
.call-block__description {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.call-block__button {
  margin-top: 60px;
  width: 360px;
  height: 75px;
}
.call-block__social {
  margin-top: 1em;
  display: flex;
  gap: 1.2em;
}
.call-block__contacts {
  display: flex;
  align-items: flex-end;
  margin-top: 2em;
  white-space: nowrap;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 1em;
}
.call-block__contacts_link {
  font-size: 26px;
}

.conditions {
  grid-area: conditions;
}
.conditions__grid {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 120px;
       column-gap: 120px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: start;
  margin-bottom: 2.5rem;
}
.conditions__title {
  position: sticky;
  top: 0;
  align-self: start;
  margin-bottom: 20rem;
}
.conditions__inner {
  grid-column: 2/3;
  margin: 2.5rem 0 2.5rem;
}
.conditions__list {
  padding: 0;
  margin: 0;
  text-align: justify;
  overflow: hidden;
}
.conditions__list-item {
  margin: 0 0 60px;
  list-style-type: none;
}
.conditions__list-item:last-of-type {
  margin: 0;
}
.conditions__point {
  text-transform: lowercase;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-bottom: 10px;
  line-height: 100%;
  font-size: 56px;
}
.conditions__point_span {
  line-height: 100%;
}
.conditions__description {
  max-width: 70%;
  text-align: left;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 80px;
}
.info__title {
  max-width: 780px;
  width: 100%;
}

.info-block {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2.5em 0;
}
.info-block__subtitle {
  margin: 0;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
}
.info-block__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: auto 30px auto 70px auto;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  -moz-column-gap: 120px;
       column-gap: 120px;
  counter-reset: num;
}
.info-block__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  min-width: -moz-min-content;
  min-width: min-content;
  position: relative;
}
.info-block__item_color {
  background-color: #16B2B2;
  border-radius: 10px;
  padding: 5rem 0;
}
.info-block__list {
  padding: 0 5vw;
}
.info-block__list-item {
  margin: 5px 0;
  list-style-type: disc;
  list-style-position: outside;
}
.info-block__description {
  padding: 0 5vw;
  text-align: left;
  opacity: 1;
}

.cooperation {
  grid-area: cooperation;
  margin-bottom: 2.5rem;
  position: relative;
}
.cooperation__grid {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 120px;
       column-gap: 120px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: start;
}
.cooperation__list {
  padding: 0;
}
.cooperation__list-item {
  margin: 5px 0;
  list-style-type: disc;
  list-style-position: inside;
}
.cooperation__video {
  margin-top: 2.5rem;
}

.quiz {
  grid-area: quiz-block;
}
.quiz__title {
  max-width: 780px;
  width: 100%;
}
.quiz__grid {
  display: grid;
  grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-items: end;
  align-items: stretch;
}
.quiz__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.quiz__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  min-width: -moz-min-content;
  min-width: min-content;
  height: 100%;
}
.quiz__form {
  /*     display: flex;
      flex-direction: column; */
  position: relative;
  width: 100%;
  padding: 0;
  margin: 2.5rem 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: solid #16B2B2 1px;
}
.quiz__form_template {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.quiz__img {
  margin: 2.5rem 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
}

.dynamics {
  grid-area: dynamics;
  display: flex;
  flex-direction: column;
}
.dynamics__title {
  max-width: 780px;
  width: 100%;
}
.dynamics__block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.dynamics__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-auto-flow: row;
  margin: 2.5em 0 0;
  align-items: start;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.dynamics__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
.dynamics__description {
  margin-bottom: 2.5rem;
}
.dynamics__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  margin: 2.5em 0;
}

.law {
  grid-area: law-block;
  display: flex;
  flex-direction: column;
}
.law__block {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2.5rem 0 0;
}
.law__grid {
  display: grid;
  grid-template-columns: 6fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  position: relative;
}
.law__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.law__item {
  position: relative;
  list-style: none;
  padding-left: 5rem;
  margin-bottom: 2.5rem;
}
.law__subtitle {
  line-height: 120%;
  text-align: justify;
  min-height: 2.5rem;
}

.guarantees {
  grid-area: guarantees;
  margin: 0 80px;
  position: relative;
}
.guarantees__grid {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 120px;
       column-gap: 120px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: start;
}
.guarantees__title {
  position: sticky;
  top: 0;
  align-self: start;
  margin-bottom: 20rem;
}
.guarantees__inner {
  grid-column: 2/3;
  margin: 2.5rem 0 2.5rem;
}
.guarantees__list {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.guarantees__list-item {
  margin: 0 0 60px;
  padding-left: 4.5rem;
  list-style-type: none;
  /*     display: flex;
      flex-direction: column;
      justify-content: center;
   */
}
.guarantees__list-item:last-of-type {
  margin: 0;
}
.guarantees__point {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 5px;
}
.guarantees__point::before {
  content: url(../../images/svg/shield.svg);
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
}
.guarantees__description {
  font-weight: 500;
  color: #B21616;
  opacity: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.guarantees__description::before {
  content: url(../../images/svg/cross.svg);
  width: auto;
  height: auto;
  position: absolute;
  left: -20px;
}

.about-us {
  grid-area: about-us;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
}
.about-us__inner {
  display: flex;
  gap: 80px;
  margin: 40px 0 40px;
}
.about-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__point {
  text-transform: lowercase;
  align-self: flex-start;
}
.about-us__span-accent {
  line-height: 120%;
}
.about-us__description {
  font-size: 14px;
}

.team {
  grid-area: team;
  display: flex;
  flex-direction: column;
  position: relative;
}
.team__block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.team__title {
  max-width: 780px;
}
.team__subtitle {
  max-width: 780px;
  margin: 1.5rem 0 5rem;
}
.team__inner {
  display: flex;
  gap: 96px;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__photo {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  border: #16B2B2 solid 2px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin-bottom: 1rem;
}
.team__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__name {
  margin-bottom: 0.2rem;
  font-weight: 500;
}
.team__descriotion {
  opacity: 0.8;
}

.advantages {
  grid-area: advantages;
}
.advantages__grid {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 120px;
       column-gap: 120px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: start;
}
.advantages__title-block {
  position: sticky;
  top: 0;
  align-self: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.advantages__subtitle {
  margin: 0 0 2.5rem;
}
.advantages__inner {
  grid-column: 2/3;
  margin: 2.5rem 0 2.5rem;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-auto-flow: column;
  row-gap: 80px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.advantages__list-item {
  position: relative;
}
.advantages__container {
  display: flex;
  justify-content: baseline;
}
.advantages__point {
  text-transform: none;
  font-size: 20px;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-left: 2rem;
  padding-bottom: 10px;
}
.advantages__point::before {
  content: url(../../images/svg/advntgs.svg);
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
}
.advantages__description {
  padding-left: 2rem;
}

.video-block {
  grid-area: video-block;
  display: flex;
  flex-direction: column;
}
.video-block__content {
  max-width: 60%;
  max-height: 540px;
  margin: 2.5rem auto;
}
.video-block__img {
  max-height: 480px;
  opacity: 0.7;
}

.faq {
  grid-area: faq-block;
  margin: 0 80px;
  position: relative;
}
.faq__grid {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 120px;
       column-gap: 120px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  align-items: start;
}
.faq__title {
  position: sticky;
  top: 0;
  align-self: start;
  margin-bottom: 5rem;
}
.faq__inner {
  grid-column: 2/3;
  margin: 2.5rem 0 2.5rem;
}
.faq__list {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.faq__list-item {
  margin: 2.5rem 0 0;
  padding-top: 1rem;
  list-style-type: none;
  border-top: 1px rgba(255, 255, 255, 0.7) solid;
}
.faq__list-item:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.faq__accordion {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 1;
  margin-bottom: 1rem;
}
.faq__point {
  max-width: calc(100% - 100px);
}
.active, .faq__point:hover {
  font-weight: 500;
}

.final-test {
  grid-area: final-test;
}
.final-test__inner {
  display: flex;
  flex-direction: column;
  margin: 0 0 2.5rem;
}
.final-test__title {
  line-height: 150%;
  max-width: 85%;
}
.final-test__subtitle {
  max-width: 75%;
}
.final-test__button {
  margin-top: 60px;
  width: 360px;
  height: 75px;
}

.footer {
  grid-area: footer;
  min-height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__columns {
  width: 90%;
  margin: 60px 0 40px;
  display: flex;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  justify-content: space-between;
  min-height: 250px;
  flex-basis: 711px;
}
.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.footer__column_content_info {
  margin-left: auto;
}
.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}
.footer__column-links {
  padding-left: 0;
}
.footer__column-list {
  padding: 0;
  list-style: none;
  margin: 0 0 16px;
}
.footer__column-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}
.footer__column_content_social {
  margin-left: auto;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* //dev-style
body, div, main, section, header, nav, ul, li, footer, figure, figcaption, span, img, button, a, p, h1, h2, h3, fieldset, input, form, button {
  outline: solid red 1px;
}

// */
.mob {
  display: none;
}
.mob_active {
  display: flex;
}

.footer {
  grid-area: footer;
}/*# sourceMappingURL=index.css.map */
