//подключаем normalize
@import url(../vendor/normalize.css);
//подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
//подключаем переменные
@import './variables/variables';

//подключаем базовые стили
@import './base/base';
//подключаем мобильные стили
@import './base/mobile';

//подключаем UI-компоненты
@import './elements/text-block';
@import './elements/button';
@import './elements/counter';
@import './elements/links';
@import './elements/background';

//подключаем блоки
@import './blocks/header';
@import './blocks/nav';
@import './blocks/head-block';
@import './blocks/projects-block';
@import './blocks/call-block';
@import './blocks/conditions-block';
@import './blocks/info-block';



//dev-style
body, div, main, section, header, nav, ul, li, footer, figure, figcaption, span, img, button, a, p, h1, h2, h3, fieldset, input, form, button {
  outline: solid red 1px;
}

//





.mob{
  display: none;

  &_active {
      display: flex;
  }
}




.conditions {
  grid-area: conditions;
}







.footer {
  grid-area: footer;
  z-index: 1;
}


