//подключаем normalize
@import './vendor/normalize';
//подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
//подключаем переменные
@import './variables/variables';


//dev-style
body, div, main, section, header, nav, ul, li, footer, figure, figcaption, span, img, button, a, p, h1, h2, h3, fieldset, input, form, button {
  outline: solid red 1px;
}

//общие и основные селекторы



.page {
  font-family: $montserrat;
  font-style: normal;
  background-color: $black-bg;
  color: $white;
  font-weight: $regular;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  &__container {
    display: grid;

    grid-template-areas:

    "header"
    "head-block"
    "footer";
  }
}

.container {
  margin: 0 $height-gap;
}

.main {
  grid-row-gap: $height-gap;
}


.mob{
  display: none;

  &_active {
      display: flex;
  }
}




.link {
  opacity: .8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $link-text;
  line-height: 100%;

  &:hover {
  cursor: pointer;
  transition: all .4s;
  color: $accent-blue;
  }
}



.title {
  font-weight: $regular;
  font-size: $title;
  text-transform: uppercase;
  line-height: 120%;
  &__span-accent {
    font-weight: $medium;
    color: $accent-blue;
  }
}


.subtitle {
  font-weight: $regular;
  font-size: $subtitle;
  text-transform: uppercase;
  line-height: 120%;
}


.description {
  font-weight: $regular;
  font-size: $small-text;
  line-height: 120%;
}











.footer {
  grid-area: footer;
  z-index: 1;
}


//подключаем UI-компоненты
@import './UI/button';

//подключаем блоки
@import './blocks/header';
@import './blocks/nav';
@import './blocks/head-block';
